# Ignorar la carpeta de dependencias de Node
node_modules/

# Archivos generados de entorno
.env
.env.*

# Logs
*.log

# Archivos generados por Docker/OS
.DS_Store

# Carpetas generadas por Node/NPM
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de la base de datos de Prisma
/backend-node-docker/node_modules/.prisma/
